!!!
%html{ :"ng-app" => "TodoList" }
  %head
    %title Angular Todo List
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag '', href: '/assets/images/favicon.png'
    %base{href: "/"}
  %body{class: 'ng-cloak'}
    %nav.navbar.navbar-inverse
      .container
        .col-sm-8.col-sm-offset-2
          .navbar-header
            %a{ :"ng-href" => "/", class: 'navbar-brand' }
              Angular Todo List
          #navbar
            %ul.nav.navbar-nav.pull-right{ :"ng-controller" => "UserSessionsController" }
              %li.dropdown{ :"ng-show" => "user.signedIn" }
                %a.dropdown-toggle{ :"data-toggle" => "dropdown", :"ng-href" => "#" }
                  {{user.email}}
                  %span.caret
                %ul.dropdown-menu{ role: "menu" }
                  %li
                    %a{ :"ng-href" => "#" }
                      Profile
                  %li
                    %a{ :"ng-href" => "#", :"ng-click" => 'signOut()' }
                      Sign out

              %li{ :"ng-show" => "!user.signedIn" }
                %a{ :"ng-href" => "/sign_in" }
                  Log In
              %li{ :"ng-show" => "!user.signedIn" }
                %a{ :"ng-href" => "/sign_up" }
                  Sign Up
    .container
      .col-sm-8.col-sm-offset-2
        .ng-view
          = yield
        .debug
          User:
          %p.text-info
            {{ user | json}}
